/* #region commmon */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

ul{
    list-style-type: none;
}

button{
    padding: 8px 16px;
    border-radius: 20px;
}
/* #endregion commmon */

/* #region utility */
.container{
    width: 70%;
    margin: auto;
    border: 1px solid black;
}

.row{
    display: flex;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.space-btw{
    justify-content: space-between;
}

.flex-align-start{
    align-items: flex-start;
}

.col-02{
    width: calc((100% / 12) * 2);
}

.col-04{
    width: calc((100% / 12) * 4);
}

.col-05{
    width: calc((100% / 12) * 5);
}

.col-07{
    width: calc((100% / 12) * 7);
}

.flex-column{
    flex-direction: column;
}
/* #endregion utility */

/* #region header */
#header{
    background: #3161E0;
}

#header a{
    padding: 10px;
}

.banner-top{
    background-image: url();
}
/* #endregion header */

/* #region main */

/* #endregion main */

/* #region footer */
#footer{
    background: #23272A;
}

#footer a{
    margin-right: 10px;
}
/* #endregion footer */

/* #region debug */
.debug #header{
    height: 80px;
}

.debug #header .container{
    background: yellow;
}

.debug .banner-top{
    height: 550px;
    background: blue;
}

.debug .banner-top .container{
    background: yellow;
}

.debug section{
    height: 800px;
    background: grey;
    border: 1px solid red;
}

.debug section img{
    background: lightblue;
}

.debug section .text{
    background: pink;
}

.debug section .container{
    background-color: aqua;
}

.debug #footer .footer-top{
    height: 500px;
}

.debug div .col-04{
    background: pink;
}

.debug div .col-02{
    background: lightgreen;
    border: 1px solid white;
}

.debug #footer .footer-bottom{
    height: 170px;
}
/* #endregion debug */