/* #region commmon */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header ul{
    list-style-type: none;
}

button{
    padding: 8px 16px;
    border-radius: 20px;
}
/* #endregion commmon */

/* #region utility */
.container{
    width: 80%;
    margin: auto;
    border: 1px solid black;
}

.row{
    display: flex;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.space-btw{
    justify-content: space-between;
}

/* #endregion utility */

/* #region header */
#header a{
    padding: 10px;
}

.banner-top{
    background-image: url();
}

.banner-top .container{
    flex-direction: column;
}
/* #endregion header */

/* #region main */

/* #endregion main */

/* #region footer */

/* #endregion footer */

/* #region debug */
.debug #header{
    height: 80px;
    background: red;
}

.debug #header .container{
    background: yellow;
}

.debug .banner-top{
    height: 550px;
    background: blue;
}

.debug .banner-top .container{
    background: yellow;
}
/* #endregion debug */